@charset "UTF-8";

/* reset */
body, h1, h2, h3, h4, h5, h6, p, address,
ul, ol, li, dl, dt, dd, img, form, table, tr, th, td {
	margin: 0;
	padding: 0;
	border: none;
	font-style: normal;
	font-weight: normal;
	font-size: 100%;
	text-align: left;
	list-style-type: none;
	border-collapse: collapse;
}

textarea { font-size: 100%; vertical-align:middle;}
img { border-style: none; display: block; }
hr { display: none; }
em{font-style: normal}
input{line-height:auto;vertical-align:middle;}
strong.more{color:#c30}
a{text-decoration: none;}


body {
	
	font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
	margin: 0;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.body_color{
	background-color: #ffefd5;
	margin: 0;
	
}

.wrap{
	overflow:visible;
}

@media screen and (max-width:390px) {
	body{
		max-width: 390px;
		width: 390px;
		height: 100%;
		margin: 0;
	}
}

/* ヘッダー */

.header{
	background-color: lightgray;
}

.nav-btn{
	margin-left: 3px;
	border-radius: 0.3rem;
	border-color: rgba(0, 0, 0, 0);
}

.nav-input{
	border-radius: 0.3rem;
	margin-bottom: 3.0px;
	border-color: rgba(0, 0, 0, 0);

}

@media screen and (max-width:390px) {
	
	.header{
		width: 100%;
	}

	.nav-btn{
		font-weight: 1000;
		margin-left: 3px;
		border-radius: 0.3rem;
	}
	
	.nav-input{
		width: 90%;
		border-radius: 0.3rem;
		margin-bottom: 3.0px;
	}

}

/* スライダー編集 */

.swiper-img{
	width: 100%;
	height:400px;
	object-fit: cover;
}

.swiper-container {
	width: 100%;
	height: 300px;
}
.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	width: 300px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-transform: translate(-50%,0);
  -moz-transform: translate(-50%,0);
  -ms-transform: translate(-50%,0);
  -o-transform: translate(-50%,0);
  transform: translate(-50%,0);
}

.swiper-slide-img {
	width: 100%;
	}

@media screen and (max-width:390px) {
	.swiper-img{
		width: 100%;
		height:300px;
		padding: 10px 20px;
		background-color: #ffefd5;
		object-fit: cover;
	}
	
	.swiper{
		width: 390px;
	}

	.swiper-wrapper{
		width: 600px;
	}

	/* .swiper-slide-img {
		min-width: 322px;
		} */
}


/* 新型コロナウイルス */


.COVID{
	margin-top: 10px;
	font-size: 40px;
	text-align:center;
}

  .accordion {
	width: 80%;
	margin: 0 auto;
  }
  
.menu2 {
	background-color: #ffc7af;
	margin-top: 20px;
	text-align: start;
	cursor: pointer;
	user-select: none;
	padding: 10px;
	font-size: 30px;
  }

  @media screen and (max-width:390px) {
	.COVID{
		margin: 10px 20px;
		font-size: 28px;
		text-align:start;
	}

	.accordion {
		width: 82%;
		margin: 0 auto;
	  }
	.menu2 {
		background-color: #ffc7af;
		margin: 3px 0;
		text-align: start;
		cursor: pointer;
		user-select: none;
		padding: 10px;
		font-size: 18px;
		font-weight: 400;
	  }

	  .contents{
		font-size: 11px;
	  }
}
 
.contents {
	display: none;
	line-height: normal;
	text-align: start;
  }

.information{
	margin-bottom: 40px;
}
  
/* フェードイン */

  .element {
	/* 最初は非表示 */
	transform: translateY(30px);
	opacity: 0;
	visibility: hidden;
	transition: transform 1s, opacity 1s, visibility 1s;
	/* （装飾用スタイル） */
	width: 80%;
	height: 100px;
	background-color: rgba(0, 0, 0, 0);
	margin: 10px auto 340px;
  }

  .element .address{
	padding: 10px;
  }

  .address{
	color: #fff;
	background-color: black;
  }
  .element-title{
	margin-bottom: 20px;
  }
  .element-item{
	display: flex;
	justify-content: space-around;
  }

  .element-img img{
    width: 500px;
    height: 320px;
	object-fit: cover;
  }
  .element-comment p{
	font-size: large;
	width: 80%;
	margin: 50px auto;
	max-width: 500px;
  }

  .element-img.address-img img{
	height: 100%;
  }
  .element.shop{
	height: 50px;
	margin-top: 30px;
  }
  .shop-addres{
	display: flex;
  }
  .element.shop-item {
	height: 100px;
  }
  .element-title.shop-item{
	padding-top: 70px;
	text-align: center;
  }
 

  .col img{
	width: 200px;
	height: 200px;
	border-radius: 50%;
  }

  @media screen and (max-width:390px) {
	.element {
		/* 最初は非表示 */
		transform: translateY(30px);
		opacity: 0;
		visibility: hidden;
		transition: transform 1s, opacity 1s, visibility 1s;
		/* （装飾用スタイル） */
		width: 80%;
		height: 150px;
		background-color: rgba(0, 0, 0, 0);
		margin: 0 auto 232px;
	  }

	  .wrapper{
	  height: 100%;
	  }
	  .element-item{
		padding: 1px;
		display: block;
		align-items: center;
	  }

	  .element-img img{
		width: 100%;
		height: 200px;
	  }

	  .element-comment p{
		font-size:medium;
		margin:auto;
		width: 300px;
	  }
	  .element-comment{
		width: 100%;
	  }

	  .element.address{
		width: 80%;
		height: 250px;
	  }
	  .element-item.address{
		width: 100%;
		height: auto;
	  }
	  .element-comment.address-comment h2{
		margin-bottom: 10px;
	  }
	  .element-comment.address-comment p{
		font-size: 1px;
		margin-bottom: 10px;
	  }

	  .element-img.address-img{
		height: 250px;
		padding-bottom: 10px;
		align-items: center;
	  }
	  
	  .element.shop{
		display: none;
		margin: 0 auto ;
	  }
	  .shop-item{
		display: none;
	  }
	  

  }

  /* フェードイン時に入るクラス */
  .is-fadein {
	transform: translateX(0);
	opacity: 1;
	visibility: visible;
  }

  /* フッター */
  .footer{
	background-color: darkgray;
	width: 100%;
	height: 100px;
	color: black;
	display: flex;
	justify-content: center;
  }
  .footer-menu{
	height: 100%;
	display: flex;
	margin-right: 20px;
	align-items: center;
	text-align: center;

  }

  .footer-item{
	font-size: 2px;
	margin: 0 20px;
	color: black;
	text-decoration: none;
  }


